table.mytable {
    border-collapse: collapse;
    width: 100%;
}

table.mytable th {
    background-color: #4CAF50;
    color: white;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

table.mytable td, table.mytable th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

table.mytable tr:nth-child(even) {
    background-color: #dddddd;
}

table.mytable tr:hover {
    background-color: #ccffcc;
}

